<main>
    <section class="cart__total">
        <div>Итого к оплате: 999999 ₽</div>
        <form class="form" method="post">
            <input class="action" type="submit" value="оплатить"/>
        </form>
    </section>
    <ul class="coffee__list">
        <li>
            <header class="coffee__name">Americano</header>
            <img src="/static/img/americano.jpg" alt="Americano"/>
            <footer>999 ₽</footer>
        </li>
        <li>
            <header class="coffee__name">Cappuccino</header>
            <img src="/static/img/cappuccino.jpg" alt="Cappuccino"/>
            <footer>999 ₽</footer>
        </li>
    </ul>
</main>

