<h2>Эти напитки вы уже заказывали:</h2>
<section class="history"></section>
<ul class="coffee__list">
    {{#each items}}
        <li>
            <header class="coffee__name">{{name}}</header>
            <img src="{{image}}" alt="{{name}}">
            <footer>{{price}} ₽</footer>
        </li>
    {{/each}}
</ul>