<section class="user__hello">Здравствуйте, {{username}}!</section>
<form class="form" method="get">
    <label class="label" for="username">
        Меня зовут
        <input id="username" name="username" type="text" placeholder="Введите имя..."/> !
    </label>
    <input class="action" type="submit" value="Сохранить"/>
</form>