<section className="user__hello">Привет, {{name}}!</section>
<form className="form" method="get">
    <label className="label" htmlFor="username">
        Зовите меня
        <input id="username" name="username" type="text" value="Аноним"/> !
    </label>
    <input className="action" type="submit" value="Сохранить"/>
</form>