<form class="form" method="get">
    <label class="label" for="username">
        <input id="username" name="username" type="text" value="{{username}}" /> 
    </label>
    <input class="action" type="submit" value="Сохранить" />
</form>