<section class="user__greet">Добро пожаловать, {{username}}!</section>
<form class="form" method="get">
    <label class="label" for="username">
        Kimi no Na wa?
        <input id="username" name="username" type="text" placeholder="Введите имя..."/>
    </label>
    <input class="action" type="submit" value="Сохранить"/>
</form>